.modal-backdrop{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal{
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 320px;
    color: black;
}

.modal h3{
    padding-bottom: 10px;
}
/* .modal p{
    padding-bottom: 10px;
} */

.modal.success { border-left: 5px solid #2ecc71; }
.modal.info    { border-left: 5px solid #3498db; }
.modal.warning { border-left: 5px solid #f1c40f; }
.modal.danger  { border-left: 5px solid #e74c3c; }

.actions{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.confirm{
    background: #e74c3c;
    color: white;
}

