.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 0;
    position: absolute;
}

.login-form-container{
    border-radius: 5px;
    background-color: #ffffff10;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.logo{
    width: 80px;
}