.text-xs{
    font-size: var(--font-size-xs);
}
.text-sm{
    font-size: var(--font-size-sm);
}
.text-md{
    font-size: var(--font-size-md);
}
.text-lg{
    font-size: var(--font-size-lg);
}
.text-xl{
    font-size: var(--font-size-xl);
}

.text-bold{
    font-weight: var(--font-weight-bold);
}
.text-center{
    text-align: center;
}
