.text-xs{
    font-size: var(--font-size-xs);
}
.text-sm{
    font-size: var(--font-size-sm);
}
.text-md{
    font-size: var(--font-size-md);
}
.text-lg{
    font-size: var(--font-size-lg);
}
.text-xl{
    font-size: var(--font-size-xl);
}

.text-bold{
    font-weight: var(--font-weight-bold);
}
.text-center{
    text-align: center;
}

.text-primary{
    color: var(--primary);
}
.text-danger{
    color: var(--danger);
}
.text-light{
    color: var(--light);
}
.text-dark{
    color: var(--dark);
}

/* helper para background */
.bg-primary{
    background-color: var(--primary) !important;
}
.bg-warning{
    background-color: var(--warning) !important;
}
.bg-danger{
    background-color: var(--danger) !important;
}
.bg-light{
    background-color: var(--light) !important;
}
.bg-dark{
    background-color: var(--dark) !important;
}