.alert-container{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.alert{
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 320px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.alert.info{
    background: #3498db;
}

.alert.success{
    background: #2ecc71;
}

.alert.warning{
    background: #eab327;
} 
.alert.error{
    background: #e74c3c;
} 