.alert-container{
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.1);
}

.alert{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 40%;
    padding: 12px 18px;
    border-radius: 6px;
    color: white;
    z-index: 9998;
    font-size: x-large;
}
.alert.info{
    background: #3498db;
}

.alert.success{
    background: #2ecc71;
}

.alert.error{
    background: #e74c3c;
} 