/* SOLO navbar */
.navbar{
    display: flex;
    align-items: center;
    background-color: #1D1D1D;
    color: white;
    padding: 10px 20px;
}

.navbar-section {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-section.center{
    justify-content: start;
    flex: 2;

}

.navbar-section.right {
    justify-content: flex-end;
}

.navbar a {
    color: rgb(204, 204, 204);
    font-weight: 500;
}

.navbar a:hover{
    color: rgb(255, 255, 255);
}

.navbar button{
    background: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
}